.servicios {
  max-height: 90%;
  width: 100%;
  padding-top: 15vh;
  padding-bottom: 5vh;
  display: grid;
}
.container__servicios {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}
.servicios__caja {
  background-color: rgba(109, 109, 116, 0.6);
  border-radius: 20px;
  box-shadow: 0 0 30px rgba (0, 0, 0, 0.18);
}
.servicios__titulo {
  @include titulo(30px, center, 600, #fff);
  padding: 7px;
  border-radius: 20px 20px 0 0;
  background-color: rgba(109, 109, 116, 0.6);
}
.servicios__descripcion {
  @include titulo(20px, center, 500, #fff);
  margin: 30px 10px;
}
@media screen and (min-width: 767px) and (max-width: 869px) {
  .servicios {
    padding-top: 11vh;
  }
  .container__servicios {
    grid-template-rows: minmax(200px, 400px);
  }
  .servicios__descripcion {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 870px) and (max-width: 949px) {
  .servicios {
    padding-top: 9vh;
  }
  .container__servicios {
    grid-template-rows: repeat(auto-fit, minmax(300px, 550px));
  }
  .servicios__descripcion {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 950px) and (max-width: 1200px) {
  .servicios {
    padding-top: 9vh;
  }
  .container__servicios {
    grid-template-rows: repeat(auto-fit, minmax(300px, 450px));
  }
  .servicios__descripcion {
    font-size: 1.7rem;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .servicios {
    padding-top: 11vh;
  }
  .container__servicios {
    grid-template-rows: repeat(auto-fit, minmax(300px, 400px));
  }
  .servicios__descripcion {
    font-size: 1.75rem;
  }
}
@media screen and (min-width: 1401px) {
  .servicios {
    padding-top: 20vh;
  }
  .container__servicios {
    grid-template-rows: repeat(auto-fit, minmax(300px, 350px));
  }
  .servicios__descripcion {
    font-size: 1.75rem;
  }
}
/*.container__servicios {
  @include flex(flex, row, space-around, center, wrap);
  margin-top: 5vh;
}
.servicios__caja {
  @include flex(flex, column, center, center, no-wrap);
  border-radius: 20px;
  background-color: rgba(109, 109, 116, 0.6);
  padding: 0;
  padding-bottom: 10px;
  width: 90%;
  margin: 15px;
  font-family: montserrat;
}
.servicios__titulo {
  width: 100%;
  text-align: center;
  padding: 5px;
  background-color: rgba(109, 109, 116, 0.6);
  border-radius: 20px 20px 0 0;
  font-size: 25px;
  font-weight: 600;
}
.servicios__descripcion {
  text-align: center;
  padding: 5px;
  margin-top: 25px;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  height: 50%;
}

@media screen and (min-width: 398px) and (max-width: 768px) {
  .servicios {
    padding-top: 10vh;
  }
  .servicios__caja {
    width: 70%;
  }
  .servicios__titulo {
    font-size: 27px;
    width: 100%;
  }
  .servicios__descripcion {
    font-size: 22px;
    padding: 5px 5px;
  }
}
@media screen and (min-width: 769px) {
  .servicios {
    padding-top: 8vh;
  }
  .servicios__caja {
    width: calc(90% / 3);
  }
  .servicios__titulo {
    font-size: 1.5em;
    width: 100%;
  }
  .servicios__descripcion {
    font-size: 1.3em;
    padding: 20px 5px;
  }
}
*/
